doctype
html
    head
        meta(charset="UTF-8")
        title #{title}
        link(rel="stylesheet" href="/css/bootstrap.css")
        script(src="/js/jquery-1.11.3.min.js")
        script(src="/js/bootstrap.js")
        
    body
        blockquote
            h1 #{title}
            p 科幻迷推荐



