include ./includes/header.jade
    div.container
        form.horizontal
            div.form-group
                lable(for='inputTitle' class="col-md-3 control-label") 电影名称
                div.col-md-9
                    input(type="text" id="inputTitle" class="form-control")
            div.form-group
                lable(for='inputDirector' class="col-md-3 control-label") 导演
                div.col-md-9
                    input(type="text" id="inputDirector" class="form-control")
            div.form-group
                lable(for='inputCountry' class="col-md-3 control-label") 国家
                div.col-md-9
                    input(type="text" id="inputCountry" class="form-control")
            div.form-group
                lable(for='inputYear' class="col-md-3 control-label") 上映年份
                div.col-md-9
                    input(type="text" id="inputYear" class="form-control")
            div.form-group
                lable(for='inputLauguage' class="col-md-3 control-label") 语言
                div.col-md-9
                    input(type="text" id="inputLauguage" class="form-control")
            div.form-group
                lable(for='inputFlash' class="col-md-3 control-label") 片源地址
                div.col-md-9
                    input(type="text" id="inputFlash" class="form-control")
            div.form-group
                lable(for='inputSummary' class="col-md-3 control-label") 简介
                div.col-md-9
                    input(type="text" id="inputSummary" class="form-control")